/* src/components/AgGrid.css */

.ag-grid-container {
    margin-top: 20px;
  }
  
  .ag-grid {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .ag-grid th,
  .ag-grid td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .ag-grid th {
    background-color: #f2f2f2;
  }
  