/* LoginPage.css */

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
  }
  
  form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 8px;
    text-align: center;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
  }
  
  
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    form {
      padding: 10px;
    }
  
    input {
      padding: 8px;
    }
  
    button {
      padding: 8px;
      font-size: 14px;
    }
  }
  